transformers==4.47.0
tqdm==4.67.1
torch==2.2.2
librosa==0.10.2.post1
pyyaml==6.0.2
numpy==1.26.4
scikit-learn==1.6.0
matplotlib==3.10.0
seaborn==0.13.2
pandas==2.2.3
torchvision==0.17.2
moviepy==2.1.2
facenet_pytorch==2.6.0
plotly==5.24.1
soundfile==0.12.1
umap==0.1.1
openl3==0.4.2
praat-parselmouth==0.4.5
